# Database
DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=public"

# JWT
JWT_SECRET=inilah-secret-key-yang-minimal-32-karakter

# App URL
CLIENT_URL=http://localhost:3000

# SMTP (Gmail App Password)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=tuliskan-email-gmail-anda
SMTP_PASS=tuliskan-app-password-16-karakter
SMTP_FROM="Backend UKK <tuliskan-email-gmail-anda>"

# Node
NODE_ENV=development